/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $color-basic-grey;
}
