.title-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $color-basic-green;
  top: 12px;
  left: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 20px;
  }

  &--form {
    top: 35px;

    @media (min-width: $desktop-width) {
      top: 13px;
    }
  }
}
