.title-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $color-basic-green;
  top: 12px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 16px;
  }


  @media (min-width: $desktop-width) {
    top: 20px;
  }
}

.title-line--form {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $color-basic-green;
  display: inline-block;
  top: -14px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: -18px;
  }


  @media (min-width: $desktop-width) {
    top: -22px;
  }
}
