/* здесь используйте глобальные переменные */
$color-basic-grey: #444444;
$color-basic-black: #000000;
$color-basic-white: #ffffff;
$color-basic-green: #68b738;
$color-special-grey: #cdcdcd;
$color-special-black: #111111;

$bg-basic-grey: #f2f2f2;

$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$bg-gradient-primary: #4f4d52;
$bg-gradient-secondary: #444348;

