.additional {
  position: relative;
  margin-bottom: 40px;
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.additional__title {
  padding-right: 40px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding-left: 40px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    padding-left: 40px;
  }
}

.additional__list {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    border: 1px solid $color-special-grey;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin-bottom: 0;
  }
}
