.additional {
  position: relative;
}

.additional__title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-basic-black;
  background-color: $color-basic-white;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-left: 30px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-left: 70px;
    padding-left: 40px;
  }
}
