.checkbox__name {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.checkbox__label {
  font-family: $font-secondary;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
