.contacts {
  position: relative;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  justify-content: space-between;
  background-color: $bg-basic-grey;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    grid-template-columns: 163px 157px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 78px 80px;
    background-color: $color-basic-white;
    position: absolute;
    top: 50%;
    left: 110px;
    transform: translateY(-50%);
    width: 50%;
    z-index: -1;
  }
}

.contacts__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-special-black;
  text-align: left;
  display: block;
  margin: 0;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  line-height: 20px;
  font-style: inherit;
  color: inherit;
  display: block;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
    display: inline-block;
  }
}

.contacts__iframe {
  display: block;
  border: none;
  height: 362px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__image {
  width: 100%;
  object-fit: cover;
  display: block;
  z-index: -2;
  position: absolute;
}
