.field {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.field__name {
  display: flex;
  align-items: center;
}

.field__label {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-basic-grey;
  flex-shrink: 0;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.field__input {
  width: 100%;
  padding: 13px 15px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
  }

  &--email {
    background-image: url("../../icons/email.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: top 50% right 12px;

    @media (min-width: $tablet-width) {
      background-position: top 50% right 16px;
    }
  }

  &--phone {
    background-image: url("../../icons/phone.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: top 50% right 13px;

    @media (min-width: $tablet-width) {
      background-position: top 50% right 16px;
    }
  }
}

