.footer {
  background-color: $bg-basic-grey;
}

.footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }


  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}
