.form__group {
  position: relative;
  border: none;
}

.form__group-title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $color-basic-black;
  background-color: $color-basic-white;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 30px;
    padding-left: 40px;
  }
}

.form__textarea {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__description {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
