.header {
  border-bottom: 1px solid $color-border-grey-light;

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 0;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 13px;
  align-items: center;
  position: relative;
  padding-bottom: 15px;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 65px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    margin-bottom: 110px;
  }
}

.header__logo {
  display: flex;
  flex-grow: 0;
  align-items: center;
  align-self: flex-start;
  padding-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.header__logo-text {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
    margin-top: 0;
    margin-left: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
  }
}
