.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    margin-bottom: 110px;
  }
}

.header__logo {
  display: flex;
  flex-grow: 0;
  align-items: center;
  align-self: flex-start;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
    margin-left: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
  }
}
