.instructions__item {
  &--first {
    --images: url("../../icons/instructions-first.svg");
  }

  &--second {
    --images: url("../../icons/instructions-second.svg");
  }

  &--third {
    --images: url("../../icons/instructions-third.svg");
  }

  &--fourth {
    --images: url("../../icons/instructions-fourth.svg");
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: var(--images);
    background-repeat: no-repeat;
    background-size: 60px 60px;
  }
}

.instructions__title {
  line-height: 40px;
}

.instructions__description {
  color: $color-basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
