.main-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 13px;
  }
}

.main-nav__link {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-basic-black;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  padding: 10px;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }


  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    // color: $color-basic-white;
  }
}

.main-nav__link--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-basic-green;
  }
}

.main-nav--opened .main-nav__toggle {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../../icons/toggle-close.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-color: inherit;
  border: none;
}

.main-nav--closed .main-nav__toggle {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/toggle-open.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: inherit;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

