.programs__item {
  background-color: $bg-basic-grey;
}

.programs__title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
  color: $color-basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs__link {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-basic-black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-basic-green;
  }

  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
