.programs__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
  color: $color-basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs__link {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-basic-black;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
