.promotions {
  position: relative;
}

.promotions__title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-basic-black;
  background-color: $color-basic-white;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-left: 30px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-left: 70px;
    padding-left: 40px;
  }
}

.promotions__description {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.promotions__field {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-special-dark-grey;
  text-transform: uppercase;
  width: 280px;
  height: 56px;
  margin: 0;
  padding: 13px;
  border: 1px solid $color-special-grey;
  box-sizing: border-box;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}
