.slider__toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: $color-basic-white;
  border-radius: 50%;
  border: 2px solid $color-bg-grey;
  z-index: 1;

  &:hover {
    border: 2px solid $color-basic-green;
  }

  &:hover > .slider__toggle-image {
    fill: $color-basic-green;
  }

  &:active {
    border: 2px solid $color-dark-green;
  }

  &:active > .slider__toggle-image {
    fill: $color-dark-green;
  }
}

.slider__toggle-image {
  display: block;
  fill: $color-bg-grey;
}
